@charset "UTF-8";
//@import "compass";
@import "mixin";

$base-color: #42210b;

//@import url(https://fonts.googleapis.com/css?family=Great+Vibes);


.wrap {
    //border: 1px solid #f00;
	width: 920px;
	margin: 0 auto;
}

/*=======================NAV-MENU===========================*/

body {
    margin: 0;
}
.main-menu {
    position: fixed;
    width: 215px;
    //height: 635px;
    height: 100vh;
    //overflow: hidden;
    z-index: 2;
    box-shadow: 5px 5px 20px #202020;
    .menu-top {
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 40px;
        width: 155px;
        border-bottom: 1px solid #dadada;
        .page-logo {
            .nav-menu-sp {
                display: none;
            }
          }
        .btn-menu {
            display: none;
        }
    }
    .menu-bottom {
        .nav-menu {
            .list-nav {
                .active {
                    a {
                        p {
                            color: #fff;
                            font-weight: bold;
                            background: #008ac2;
                        }
                    }
                }
                li {
                    position: relative;
                    overflow: hidden;
                    &:hover {
                        background: #008ac2;
                        &:before {
                            z-index: -1;
                            background: #008ac2;
                            transform: rotate(180deg);
                        }
                        a {
                            color: #fff;
                        }
                    }
                    &:before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 205px;
                        height: 50px;
                        transform: rotate(0deg);
                        transition: all .2s ease-out;
                    }
                    a {
              			@include fz;
              			font-weight: bold;
                        p {
                            padding-top: 15px;
                            padding-bottom: 15px;
                            padding-left: 13%;
                        }
                    }
                }
            }
        }
        .banner {
            margin-top: 15px;
            .list-banner {
              li {
                    padding-left: 13%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/*=============================CONTENT=============================*/
.main-content {
    position: relative;
  	//max-width: 1140px;
    max-width: 200vw;
  	margin-left: 215px;
    overflow: hidden;
  	.header {
        #banner-01 {
            background: url(../images/bg-img-01.jpg) no-repeat;
            background-size: cover;
        }
        #banner-02 {
            background: url(../images/bg-img-02.jpg) no-repeat;
            background-size: cover;
        }
        #banner-03 {
            background: url(../images/bg-img-03.jpg) no-repeat;
            background-size: cover;
        }

  		  .header-text {
      			padding-top: 282px;
      			padding-bottom: 184px;
      		  text-align: center;
        		.txt-01 {
        			@include fz(42);
        			color: #fff;
        		}
        		.txt-02 {
        			@include fz(24);
        			color: #fff;
        		}
  		  }
  		  .header-news {
  			    background: rgba(0,0,0,.5);
      			p {
        				padding-left: 2%;
        				padding-top: 16px;
                padding-bottom: 10px;
        				color: #fff;
        				span {
        				    font-weight: bold;
        				}
      			}
    		}
  	}

  	.container {
  		.block {
      		#recruit {
                background: #c80e00;
            }
            .block-top {
                color: #fff;
                background: #008ac2;
                .wrap {
                    padding-top: 35px;
                    padding-bottom: 40px;
                    padding-left: 2%;
                    .block-title {
                        .tv {
                            @include fz(60);
                            font-weight: bold;
                        }
                        .jp {
                            @include fz(16);
                            padding-left: 1%;
                        }
                    }
                    .block-txt {
                        font-weight: bold;
                    }
                }
            }

            .videoWrapper {
                position: relative; 
                //padding-bottom: 56.25%; /* 16:9 */
                //padding-bottom: 42.25%;
                //padding-top: 25px;
                //height: 0;
                .thumb {
                    position: absolute;
                    display: flex;
                    width:100%;
                    &.thumb-video-2 {
                        position: relative;
                    }
                    img {
                        width: 100%;
                        height:100%;
                    }
                }
                .video {
                    width: 100%;
                }
                // .videoWrapper {
                //     .video {
                //         //position: absolute;
                //         top: 0;
                //         left: 0;
                //         width: 100%;
                //         height: 100%;
                //     }
                // }
            }

            .block-image {
                background: #f0f0f0;
                .wrap {
                    .img-pc {
                        display: block;
                        //margin-left: 11.5%;
                    }
                }
                .img-sp {
                    display: none;
                }
            }

            .block-bottom {
                .wrap {
                    .item {
                        li {
                            display: inline-block;
                            margin: 70px 0 70px 0;
                            width: 450 / 920 * 100%;
                            vertical-align: top;
                            background: #008ac2;
                            &:not(:first-child) {
                                margin-left: 1.5%;
                            }
                            a {
                                .img {
                                    float: left;
                                    width: 48%;
                                    overflow: hidden;
                                    img {
                                        transition: all 300ms ease-out;
                                    }
                                    &:hover {
                                        img {
                                            transform: scale(1.1 , 1.1);
                                        }
                                    }
                                }
                                .meta {
                                    float: right;
                                    width: 46%;
                                    .name {
                                        @include fz(18);
                                        padding-top: 15px;
                                        padding-bottom: 5px;
                                        color: #fff;
                                        line-height: 1;
                                        font-weight: bold;
                                        border-bottom: 2px solid #fff;
                                    }
                                    .text {
                                        @include fz(15);
                                        margin-top: 10px;
                                        color: #fff;
                                    }
                                }

                                .mission {
                                    .name {
                                        width: 36%;
                                        color: #008ac2;
                                        border-bottom: 2px solid #008ac2;
                                    }
                                    .text {
                                        color: #000;
                                    }
                                }
                                .about {
                                    .name {
                                        width: 45%;
                                        color: #008ac2;
                                        border-bottom: 2px solid #008ac2;
                                    }
                                    .text {
                                        color: #000;
                                    }
                                }

                                .services {
                                    .name {
                                        width: 20.5%;
                                    }
                                }

                                .recruit-01 {
                                    .name {
                                        padding-top: 35px;
                                        width: 55%;
                                    }
                                }
                                .recruit-02 {
                                    .name {
                                        padding-top: 35px;
                                        width: 70%;
                                    }
                                }
                            }
                        }
                        .recruit-item {
                            background: #c80e00;
                        }
                        .mission-about {
                            background: #f0f0f0;
                        }
                    }
                }
            }

            .block-product {
                .wrap {
                    //max-width: 920 / 1140 * 100%;
                    .product-list {
                        .item {
                            position: relative;
                            display: inline-block;
                            margin-right: 1.3%;
                            padding-bottom: 15px;
                            vertical-align: top;
                            &:nth-child(3n) {
                                margin-right: 0;
                            }
                            &:hover {
                                .product-name {
                                    top: 4%;
                                    padding-top: 80px;
                                    z-index: 0;
                                    //opacity: .7;
                                    background: rgba(57,65,67,.7);
                                }
                            }
                            .product-name {
                                position: absolute;
                                top: 8%;
                                left: 3%;
                                padding-top: 130px;
                                width: 94%;
                                height: 200px;
                                z-index: -1;
                                color: #fff;
                                font-weight: bold;
                                text-align: center;
                                //opacity: 1;
                                background: rgba(57,65,67,1);
                                transition: all .8s ease-out;
                            }
                        }
                    }
                }
            }

            .block-btn {
                text-align: center;
                padding-top: 40px;
                padding-bottom: 100px;
                p {
                    position: relative;
                    margin-left: 37.5%;
                    padding-top: 15px;
                    //width: 295 / 1140 * 100%;
                    width: 295px;
                    height: 65px;
                    background: #202020;
                    a {
                        color: #fff;
                        span {
                            padding-bottom: 5px;
                            font-weight: bold;
                            border-bottom: 2px solid;
                        }
                    }
                    &:hover {
                        a {
                            position: absolute;
                            left: 0;
                            width: 100%;
                            color: #000;
                            z-index: 1;
                        }
                        &:before {
                            left: 0.5%;
                            width: 49.5%;
                        }
                        &:after {
                            right: 0.8%;
                            width: 49.5%;
                        }
                    }
                    &:before {
                        position: absolute;
                        content: '';
                        top: 2px;
                        left: 50%;
                        width: 0;
                        height: 61px;
                        background: #fff;
                        transition: all .3s ease-out;
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        top: 2px;
                        right: 50%;
                        width: 0;
                        height: 61px;
                        background: #fff;
                        transition: all .3s ease-out;
                    }
                }
            }

            .block-newtop {
                padding-top: 70px;
                width: 50%;
                .block-04-title {
                  @include fz(30);
                  margin-bottom:20px;
                  color: #008ac2;
                  font-weight: bold;
                  text-align: center;
                  letter-spacing: 1.5px;
                  text-transform: capitalize;
                }
                .block-list {
                  li {
                    line-height: 2.5;
                    a {
                      .block-list-date {
                        display: inline-block;
                        width: 31.7%;
                        color: #818181;
                      }
                    }
                  }
                }
                .block-btn {
                    text-align: center;
                    padding-top: 25px;
                    padding-bottom: 100px;
                    p {
                        margin-left: 0;
                        padding-top: 5px;
                        width: 100%;
                        height: 45px;
                        background: #f0f0f0;
                        a {
                            color: #000;
                            span {
                                padding-bottom: 5px;
                                font-weight: bold;
                                border-bottom: 2px solid;
                            }
                        }
                    }
                    .btn-private {
                        &:hover {
                            a {
                                position: absolute;
                                left: 0;
                                width: 100%;
                                color: #000;
                                z-index: 1;
                            }
                            &:before {
                                left: 0.5%;
                                width: 49.8%;
                            }
                            &:after {
                                right: 0.5%;
                                width: 49.8%;
                            }
                        }
                        &:before {
                            position: absolute;
                            content: '';
                            top: 2px;
                            left: 50%;
                            width: 0;
                            height: 41px;
                            background: #fff;
                            transition: all .3s ease-out;
                        }
                        &:after {
                            position: absolute;
                            content: '';
                            top: 2px;
                            right: 50%;
                            width: 0;
                            height: 41px;
                            background: #fff;
                            transition: all .3s ease-out;
                        }
                    }
                }
            }
            #news {
                float: left;
                padding-right: 5%;
                border-right: 1px solid #f0f0f0;
            }
            #topics {
                float: right;
                padding-left: 5%;
                border-left: 1px solid #f0f0f0;
            }

            .button-newsletter {
                //width: 81%;
                border:1px solid #dadada;
                .newsletter-text {
                    float: left;
                    margin-top: 30px;
                    margin-left: 6%;
                    width: 40%;
                    .txt-01 {
                        @include fz(30);
                        color:#008ac2;
                        font-weight:bold;
                        letter-spacing:1.5px;
                    }
                    .txt-02 {
                        @include fz(18);
                        span {
                            @include fz(14);
                            margin-left:6%;
                            vertical-align:middle;
                            color:#818181
                        }
                    }
                }
                .newsletter-img {
                    margin-left: 57%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 40%;
                }
            }
        }
        #block-03 {
            background: #f0f0f0;
            color: #333;
            #product {
                background: #f0f0f0;
                color: #000;
            }
        }
  	}

    .footer {
        position: relative;
        margin-top: 86px;
        padding-left: 80px;
        background: #202020;
        .footer-top {
            padding: 40px 0 130px;
            .nav-menu-footer {
                float: left;
                width: 65%;
                .item {
                    @include fz(12);
                    display: inline-block;
                    margin: 0 15px 25px 0;
                    a {
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
            .copyright {
                color: #fff;
            }
        }
    }
}
