@charset "UTF-8";
@import "../mixin" , "../base";

.wrap {
	//border: 1px solid #f00;
	//width: 1070px;
	width: 94%;
	padding-top: 5px;
	padding-left: 2%;
}

iframe {
	width: 1133px;
	height: 450px;
	frameborder: 0;
	border: 0;
}

/*========================CORPORATE-CONTENT==============================*/

.main-content {
	.header {
		.block {
			.img-top {
				img {
					width: 100%;
				}
			}
			.wrap {
				.corporate-nav {
					margin-top: 25px;
					margin-bottom: 30px;
					li {
						position: relative;
						display: inline-block;
						color: #fff;
						&:not(:last-child) {
							margin-right: 40px;
							&:after {
								content:'>';
								position: absolute;
								top: 50%;
								left: 100%;
								display: inline-block;
								margin-left: 15px;
								transform: translateY(-50%);
								-ms-transform: translateY(-50%);
								-moz-transform: translateY(-50%);
								-webkit-transform: translateY(-50%);
							}
						}
						a {
							color: #fff;
						}
					}
				}
				.corporate-title {
					margin-bottom: 30px;
					color: #fff;
					.jp {
						@include fz(60);
						display: inline-block;
						font-weight: 500;
						line-height: 1;
					}
					.tv {
						@include fz(18);
						display: inline-block;
						margin-left: 30px;
						font-weight: bold;
					}
				}
			}

			.img-top {
				.img-sp {
					display: none;
				}
			}
		}
		#block-corporate {
			margin-bottom: 100px;
			color: #fff;
			background: #008ac2;
		}
	}

	.container-corporate {
		.block {
			padding-bottom: 100px;
			.wrap {
				.tab-menu {
					border-top: 2px solid #e5e5e5;
					border-bottom: 2px solid #e5e5e5;
					li {
						display: inline-block;
						//padding: 10px 9%;
						width: 25%;
						text-align: center;
						&:not(:last-child) {
							border-right: 1px solid #c4c4c4;
						}
						&:hover {
							background: #008ac2;
							a {
								color: #fff;
								font-weight: bold;
							}
						}
						a {
							p {
								padding: 10px 0;
							}
						}
					}
				}
				.block-tab {
					border: 2px solid #e5e5e5;
					margin-bottom: 60px;
					li {
						position: relative;
						width: 16.65%;
						margin: 0;
						&:hover {
							background: #008ac2;
							a {
								color: #fff;
								font-weight: bold;
							}
						}
						a {
							p {
								padding-top: 10px;
								padding-bottom: 10px;
							}
						}
					}
					.focus {
						background: #008ac2;
						a {
							p {
								color: #fff;
								font-weight: bold;
							}
						}
					}
				}

				.block-top {
					margin-top: 73px;
					margin-bottom: 60px;
					.tv {
						@include fz(60);
						display: inline-block;
						color: #008ac2;
						font-weight: bold;
						line-height: 1;
						letter-spacing: 3px;
					}
					.jp {
						@include fz(16);
						display: inline-block;
						margin-left: 25px;
						font-weight: bold;
					}
				}

				.company-box {
					border-top: 2px solid #000;
					border-bottom: 2px solid #000;
					.company-list {
						.company {
							@include fz(16);
							padding-top: 35px;
							padding-bottom: 25px;
							&:not(:last-child) {
								border-bottom: 1px solid #dbdbdb;
							}
							.jp-name {
								float: left;
								padding-left: 4%;
								width: 17%;
								color: #008ac2;
								font-weight: bold;
								.date {
									@include fz(14);
								}
							}
							.jp-detail {
								margin-left: 17%;
								//width: 865px;
								.detail {
									display: block;
									padding-top: 0;
									padding-bottom: 0;
									.detail-item {
										margin-left: 2%;
									}
								}
								.jp-detail-map {
									margin-left: 4%;
									a {
										color: #008ac2;
									}
									&:hover {
										border-bottom: 1px solid #008ac2;
									}
								}
							}
							.jp-detail-01 {
								@include fz(16);
								margin-left: 17%;
								li {
									@include fz(16);
									position: relative;
									padding-left: 18px;
									&:before {
										position: absolute;
										content: "";
										top: 9px;
										left: 0;
										width: 8px;
										height: 8px;
										border-radius: 50px;
										background-color: #008ac2;
										-moz-border-radius: 50px;
										-webkit-border-radius: 50px;
									}
								}
								.detail-list {
									@include fz(16);
									padding-bottom: 30px;
									.box-text {
										@include fz(16);
										margin-left: -18px;
										padding-left: 18px;
										padding-top: 20px;
										padding-bottom: 20px;
										line-height: 1.4;
										border: 1px solid #dbdbdb;
									}
								}
								.list-01 {
									.company-name {
										float: left;
										width: 16%;
										text-align: center;
									}
									.company-detail {
										float: right;
										width: 82%;
									}
								}
							}
							.jp-detail-02 {
								margin-left: 17%;
								//padding-left: 2%;
								li {
									position: relative;
									padding-left: 18px;
									&:before {
										position: absolute;
										content: "";
										top: 9px;
										left: 0;
										width: 8px;
										height: 8px;
										border-radius: 50px;
										background-color: #008ac2;
										-moz-border-radius: 50px;
										-webkit-border-radius: 50px;
									}
								}
							}
						}
					}
				}

				.chart {
					margin-bottom: 50px;
					border: 2px solid #008ac2;
					.text-left {
						float: left;
						margin-left: 4%;
						padding-top: 20px;
						padding-bottom: 20px;
					}
					.text-right {
						float: right;
						margin-right: 4%;
						padding-top: 20px;
						padding-bottom: 20px;
						color: #a3a3a3;
					}
				}

				.staff {
					float: left;
					width: 499 / 1070 * 100%;
					border-top: 2px solid #000;
					border-bottom: 2px solid #000;
					.staff-list {
						li {
							padding-top: 30px;
							padding-bottom: 50px;
							&:not(:last-child) {
								border-bottom: 1px solid #dbdbdb;
							}
							.field {
								float: left;
								margin-left: 8%;
								color: #008ac2;
								font-weight: bold;
							}
							.people {
								float: right;
								margin-right: 10%;
							}
						}
					}
				}
				.staff-02 {
					float: right;
				}
			}
			.block-btn {
				text-align: center;
		        padding-top: 80px;
		        p {
		        	position: relative;
		            margin-left: 37.5%;
		            padding-top: 15px;
		            width: 295 / 1140 * 100%;
		            height: 60px;
		            background: #202020;
		            a {
			            color: #fff;
			            span {
			                padding-bottom: 5px;
			                font-weight: bold;
			                border-bottom: 2px solid;
			           	}
			        }
			        &:hover {
			        	a {
			              	position: absolute;
			              	left: 0;
			              	width: 100%;
			              	color: #000;
			              	z-index: 1;
			            }
			            &:before {
			              	left: 0.5%;
			              	width: 50%;
			            }
			            &:after {
			              	right: 0.5%;
			              	width: 50%;
			          	}
			        }
			        &:before {
			            position: absolute;
			            content: '';
			            top: 2px;
			            left: 50%;
			            width: 0;
			            height: 56px;
			            background: #fff;
			            transition: all .3s ease-out;
			        }
			        &:after {
			            position: absolute;
			            content: '';
			            top: 2px;
			            right: 50%;
			            width: 0;
			            height: 56px;
			            background: #fff;
			            transition: all .3s ease-out;
			        }
		        }
			}

			.tab {
				display: none;
				.wrap {
					.block-title-02 {
						position: relative;
						margin-bottom: 30px;
						&:before {
							content: '';
							position: absolute;
							top: 0;
							right: 100%;
							width: 5.5%;
							height: 100%;
							margin-right: -1px;
							background: #008ac2;
						}
						span {
							@include fz(24);
							display: inline-block;
							padding: 6px 25px 5px 0;
							line-height: 1.6;
							color: #fff;
							background: #008ac2;
						}
					}
					.address {
						@include fz(15);
						margin-bottom: 40px;
					}
					.guide-box {
						@include fz(15);
						margin-bottom: 40px;
						.path{
							padding-left: 2%;
							width: 499 / 1070 * 100%;
							.path-guide {
								color: #000;
								font-weight: bold;
							}
						}
						.path-01 {
							float: left;
							border-left: 2px solid #000;
						}
						.path-02 {
							float: right;
							border-left: 2px solid #000;
						}
					}
				}
			}
			.show {
				display: block;
				animation: showTab 0.5s;
			}
			.animated {
				animation-duration: 1s;
				-webkit-animation-duration: 1s;
				animation-fill-mode: both;
				-webkit-animation-fill-mode: both;
			}
			@keyframes showTab {
				from {
					opacity: 0;
					transform: translate3d(0, 30px, 0);
				}
				to {
					opacity: 1;
					transform: translate3d(0, 0, 0);
				}
			}
		}

		#block-company {
			background: #fff;
		}
		#block-organogram {
			background: #f0f0f0;
		}
		#block-office {
			background: #f0f0f0;
		}
	}

	.footer {
		margin-top: 0;
	}
}

/*=============================RESPONSIVE=================================*/

@media only screen and (max-width: 1024px) {
    .main-content {
		.container-corporate {
			.block {
				.tab {
					.wrap {
						.block-title-02 {
							&:before {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 876px) {
	.main-content {
		.container-corporate {
			.block {
				.wrap {
					.company-box {
						.company-list {
							.company {
								.jp-name {
									width: 17%;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.main-content {
		.header {
			.block {
				.img-top {
					.img-pc {
						display: none;
					}
					.img-sp {
						display: block;
					}
				}
			}
		}

		.container-corporate {
			.block {
				padding-bottom: 70px;
				.wrap {
					.tab-menu {
						border-top: 1px solid #e5e5e5;
						border-bottom: 1px solid #e5e5e5;
						li {
							width: 49%;
							text-align: center;
							&:nth-child(2n) {
								border-right: none;
							}
							&:not(:last-child) {
								border-bottom: 1px solid #e5e5e5;
							}
						}
					}

					.block-tab {
						border: 1px solid #e5e5e5;
						li {
							position: relative;
							margin: 0;
							width: 32%;
							&:nth-child(2n) {
								border-right: 1px solid #c4c4c4;
							}
							&:nth-child(3n) {
								border-right: none;
							}
							&:not(:last-child) {
								border-bottom: 1px solid #e5e5e5;
							}
						}
					}

					.block-top {
						margin-top: 40px;
						margin-bottom: 30px;
						.tv {
							@include fz(50);
						}
					}

					.company-box {
						border-top: 1px solid #000;
						border-bottom: 1px solid #000;
						.company-list {
							.company {
								padding-top: 7px;
								padding-bottom: 5px;
								padding-left: 2%;
								.jp-name {
									float: none;
									padding-left: 0;
									width: 100%;
									.date {
										@include fz(14);
									}
								}
								.jp-detail {
									@include fz(14);
									margin-left: 0;
									.jp-detail-map {
										display: block;
										margin-left: 0;
									}
								}
								.jp-detail-01 {
									margin-left: 0;
									li {
										@include fz(14);
									}
								}
								.jp-detail-02 {
									margin-left: 0;
									li {
										@include fz(14);
									}
								}
							}
						}
					}

					.staff {
						float: none;
						margin-bottom: 40px;
						width: 100%;
						border-top: 1px solid #000;
						border-bottom: 1px solid #000;
						.staff-list {
							li {
								padding-top: 10px;
								padding-bottom: 10px;
								padding-left: 2%;
								.field {
									float: none;
									margin-left: 0;
								}
								.people {
									float: none;
								}
							}
						}
					}
					.staff-02 {
						float: none;
					}
				}

				.block-btn {
			        padding-top: 0;
			        p {
			            margin-left: 33.5%;
			            width: 37%;
			        }
				}

				.tab {
					display: none;
					.wrap {
						.guide-box {
							.path{
								@include fz(14);
								width: 100%;
							}
							.path-01 {
								float: none;
							}
							.path-02 {
								float: none;
								margin-top: 30px;
							}
						}
					}
				}
				.show {
					display: block;
					animation: showTab 0.5s;
				}
				.animated {
					animation-duration: 1s;
					-webkit-animation-duration: 1s;
					animation-fill-mode: both;
					-webkit-animation-fill-mode: both;
				}
				@keyframes showTab {
					from {
						opacity: 0;
						transform: translate3d(0, 30px, 0);
					}
					to {
						opacity: 1;
						transform: translate3d(0, 0, 0);
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 670px) {
	.main-content {
		.container-corporate {
			.block {
				.tab {
					.wrap {
						.block-title-02 {
							span {
								@include fz(20);
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 640px) {
	.main-content {
		.container-corporate {
			.block {
				.wrap {
					.block-top {
						.tv {
							@include fz(40);
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 570px) {
	.main-content {
		.container-corporate {
			.block {
				.block-btn {
			        p {
			            margin-left: 25.5%;
			            width: 47%;
			        }
				}
				.tab {
					.wrap {
						.block-title-02 {
							span {
								@include fz(18);
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 520px) {
	.main-content {
		.header {
			.block {
				.wrap {
					.corporate-title {
						.jp {
							@include fz(40);
						}
						.tv {
							@include fz(17);
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.main-content {
		.container-corporate {
			.block {
				.wrap {
					.block-top {
						.tv {
							@include fz(30);
						}
					}
				}
				.block-btn {
			        p {
			            margin-left: 20.5%;
			            width: 57%;
			        }
				}
			}
		}
	}
}

@media only screen and (max-width: 415px) {
	.main-content {
		.header {
			.block {
				.wrap {
					.corporate-title {
						.jp {
							@include fz(30);
						}
						.tv {
							@include fz(16);
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 360px) {
	.main-content {
		.container-corporate {
			.block {
				.wrap {
					.block-tab {
						li {
							@include fz(13);
						}
					}
				}
			}
		}
	}
}